:root {
    --primary: white;
    --secondary: black;
    --contrast: rgba(219, 181, 57, 1);
    --base: #282F44;
    --base2: HSL(225, 6%, 21%);
    --text-color: HSL(225, 6%, 21%);
    --link-color: rgba(255, 255, 255, 0.7);
    --header_base: var(--secondary);
    --header_opacity: 0.9;
    --footer_base: var(--secondary);
    --footer_opacity: 0.5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 1em;
    line-height: 1.5;
    height: 100%;
}

body {
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

@supports(display: grid) {
    .notice {
        display: none;
    }
}

.hidden {
    display: none !important;
}
.text-center, footer {
    text-align: center;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "underlying chart"
        "trade_legs chart"
        "footer footer";
    height: 100vh;
    grid-template-columns: 1fr 710px;
    grid-template-rows: auto auto 1fr 40px;
    grid-gap: 10px;
}

header {
    grid-area: header;
    font-family: 'Fjalla One', sans-serif;
    background: var(--header_base);
    opacity: var(--header_opacity);
    padding: 0 1rem;
}

.navbar {
	font-size: 22px;
	padding-bottom: 0;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-left: 20px;
}
.logo img {
	height: 60px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 30px;
}

.main-nav {
    list-style-type: none;
	display: none;
}

.nav-links, .logo {
    text-decoration: none;
	text-transform: uppercase;
	color: var(--link-color);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.show_navbar {
    display: block;
}

#underlying {
    grid-area: underlying;
    width: 100%;
    margin-left: 0.5rem;
    background: #F9F5F0;
}

#trade_legs {
    grid-area: trade_legs;
    width: 100%;
    margin-left: 0.5rem;
    background: #F9F5F0;
}

#chart {
    grid-area: chart;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer {
    background: var(--footer_base);
    opacity: var(--footer_opacity);
    grid-area: footer;
    color: var(--primary);
    font-size: 0.8rem;
	padding-top: 10px;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "header"
            "underlying"
            "trade_legs"
            "chart"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(75px, auto) minmax(75px, auto) 1fr 40px;
    }
	.logo img {
       margin-top: 6px;
	}
    #chart {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    	height: 70px;
        align-items: center;
    }
	.logo {
        margin-top: 10px;
	}
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover, .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

#chart {
    background: #F2EAD3;
}

#chart, #underlying, #trade_legs {
    text-transform: uppercase;
    color: var(--text-color);;
}

#chart, #trade_legs {
    display: flex;
    align-items: center;
	flex-direction: column;
    justify-content: center;
}

.underlying-flex li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.underlying-flex li input[type=submit] {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}
